# symlink to the update server
/news.html
# generated, I think
/images/
api.php
img_auth.php
includes
index.php
languages
load.php
maintenance
opensearch_desc.php
profileinfo.php
redirect.php
redirect.phtml
resources
skins
thumb_handler.php
thumb.php
wiki.phtml
cache/
extensions/CategoryTree
extensions/Cite
extensions/ConfirmAccount.old/
extensions/ConfirmAccount/
extensions/ConfirmEdit/
extensions/CreateBox
extensions/FootNote
extensions/Gadgets/
extensions/ImageMap
extensions/InputBox
extensions/Interwiki
extensions/LanguageSelector
extensions/NewUserNotif
extensions/NewestPages
extensions/News
extensions/Nuke/
extensions/PageCSS
extensions/ParserFunctions/
extensions/Poem
extensions/Polyglot
extensions/README
extensions/RSS_Reader
extensions/Renameuser/
extensions/SyntaxHighlight_GeSHi/
extensions/UGA/
extensions/Vector/
extensions/WikiArticleFeeds/
extensions/WikiEditor/
extensions/googleAnalytics/
LocalSettings.php
*.swp
favicon.ico
config.php
