before_script:
  - uname -a

pages: # the job must be named pages
  image: node:12-buster
  stage: deploy
  script:
    - npm install --no-package-lock yarn
    - yarn install
    - yarn deploy
    - rm -rf public
    - mv dist public
    - find public
  artifacts:
    paths:
      - public # artifact path must be /public for GitLab Pages to pick it up
