div.spoilers-body {
    border: 1px dashed #000;
    background-color: #EEE;
    padding: 3px;
}

.spoilers-button-container {
    padding: 1px 0;
}

.spoilers-button {
    background-color: #AAA;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top, #EEE, #AAA);
    background-image: -moz-linear-gradient(top, #EEE, #AAA);
    background-image: linear-gradient(to bottom, #EEE, #AAA);
    border: 1px solid #999;
    border-radius: 5px;
    padding: 3px 10px;
    transition: 0.1s background-position linear;
}

.spoilers-button:hover {
    background-position: 0 -6px;
}
