h3#tagline {
    display:none;
}

h4.namespace.label {
    display: none;
}

div.printfooter {
    display: none;
}

li.divider, li.divider.show-for-small {
    display: none;
}

.mw-search-results {
    float: none;
}

div#content {
    padding: 10px;
    border: 1px solid black;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: white;
}

h2#firstHeading {
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: #f2ebe7;
    padding-left: 50px;
    border: 1px solid black;
    -moz-border-radius: 15px;
    border-radius: 15px;
    line-height: 1.25em;
}

div#bodyContent.mw-bodytext {
    margin-top:10px;
    padding: 5px;
    border: 1px solid black;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

li#p-server_status.has-dropdown.active {
    width:150px;
}

.dropdown li:hover a {
    background: maroon;
}

input[type="submit"], button, .button, .multipleTemplateAdder {
    background-color: #e9e9e9;
    border-color: #d0d0d0;
    color: black;
}

form#searchform.mw-search {
    margin-bottom: 10px;
    white-space: nowrap;
}
